@model IEnumerable<Kitenest.Models.Continent>


<table class="table">
    
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Continents" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-controller="Continents" asp-route-id="@item.Id" style="color:red">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
