
@using Kitenest.ViewModels
@model WorldViewModel


<body>
    <div class="row">
        <div class="col-md-8">
            <h3><b>Schools</b></h3>
            <p>
                <a asp-action="Create" asp-controller="Schools">Create New</a>
            </p>
            @Html.Partial("~/Views/Admin/_SchoolsPartial.cshtml", Model.Schools.ToList())
        </div>
    </div>
    <br /><br />
    <div class="col-md-4">
        <h3><b>Continents</b></h3>
        <p>
            <a asp-action="Create" asp-controller="Continents">Create New</a>

        </p>
        @Html.Partial("~/Views/Admin/_ContinentsPartial.cshtml", Model.Continents.ToList())
    </div>

    <div class="col-md-4">
        <h3><b>Countries</b></h3>
        <p>
            <a asp-action="Create" asp-controller="Countries">Create New</a>
        </p>
        @Html.Partial("~/Views/Admin/_CountriesPartial.cshtml", Model.Countries.ToList())
    </div>

    <div class="col-md-4">
        <h3><b>Cities</b></h3>
        <p>
            <a asp-action="Create" asp-controller="Cities">Create New</a>
        </p>
        @Html.Partial("~/Views/Admin/_CitiesPartial.cshtml", Model.Cities.ToList())
    </div>


</body>
