@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="col-md-3">
    <h3>Continents</h3>
    <p>
        <a asp-action="Create" asp-controller="Continents">Create New</a>
    </p>
</div>
<div class="col-md-3">
    <h3>Countries</h3>
    <p>
        <a asp-action="Create" asp-controller="Continents">Create New</a>
    </p>
</div>
<div class="col-md-3">
    <h3>Cities</h3>
    <p>
        <a asp-action="Create" asp-controller="Continents">Create New</a>
    </p>
</div>
