
@using Kitenest.ViewModels
@model WorldViewModel

@{
}


            <div class="col-md-3">
                <h3>Continents</h3>
                <p>
                    <a asp-action="Create" asp-controller="Continents">Create New</a>
                    
                </p>

                @Html.Partial("~/Views/Admin/_ContinentsPartial", Model.Continents.ToList())

            </div>
            <div class="col-md-3">
                <h3>Countries</h3>
                <p>
                    <a asp-action="Create" asp-controller="Countries">Create New</a>
                </p>


            </div>
            <div class="col-md-3">
                <h3>Cities</h3>
                <p>
                    <a asp-action="Create" asp-controller="Cities">Create New</a>
                </p>


            </div>
