@{
    ViewData["Title"] = "Home Page";
}


<div class="row table-bordered">
    <div class="col-md-12 text-center">
        <h3>Image here</h3>
    </div>
    
</div>

<div class="row table-bordered">
    <div class="col-md-2 table-bordered"
        <nav class="nav flex-column">
            <a class="nav-link active" href="#">Active</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-offset-2 table-bordered">
            
                <div class="col-md-9 text-center table-bordered">
                    <p><b style="font-size:20px">Kitenest</b></p>
                    <p style="font-size:medium">It's a place where you can find kiteboarding schools all over the world.</p>
                    <p style="font-size:medium">Check different spots, wind conditions, actual season and more* </br >
                    <p style="font-size:small">*(more is not yet developed)</p>
                </div>
            
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 table-bordered">
            hello
        </div>
    </div>
</div>
