@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="panel-body">
    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon" id="schoolName"><b>School name</b></span>
            <input type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="continent"><b>Continent</b></span>
            <input type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="country"><b>Country</b></span>
            <input type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-6 ">
                <div class="input-group">
                    <span class="input-group-addon" id="status"><b>Status</b></span>
                    <span class="input-group-addon radio-custom">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked>
                            <label class="custom-control-label" for="defaultUnchecked">All</label>
                        </div>
                    </span>
                    <span class="input-group-addon radio-custom">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
                            <label class="custom-control-label" for="defaultChecked">Open</label>
                        </div>
                    </span>
                    <span class="input-group-addon radio-custom">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
                            <label class="custom-control-label" for="defaultChecked">Closed</label>
                        </div>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->


        </div><!-- /.row -->
        <span id="helpBlock" class="help-block">During winter season school might be closed</span>
        <span class="input-group-btn">
            <button class="btn btn-default search-button" formmethod="get" type="submit" asp-area="" asp-controller="Home" asp-action="SearchSchools">
                <i class="glyphicon glyphicon-search"></i> Search
            </button>
        </span>

    </div>
</div>