body {
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-bottom: 15px;
}
.input-group:last-child {
    margin-bottom: 0px;

}

.input-group-addon.radio-custom{
background-color: white;
}

.btn-default.search-button {
    font-weight: bold;
    background-color: #a7c3f9;
    color: #333;
    border-color: #ccc;
    width: 150px;
    margin-top: 20px;
}

.btn-default:hover {
    background-color: #73a0f7;
}

